# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/vendor/tavle/__pycache__
/vendor/tavle/logs
/vendor/tavle/whiteboard.db
/vendor/tavle/*.db
/vendor/tavle/build
/vendor/tavle/dist
/src-tauri/binaries/tavle-server
/src-tauri/binaries/tavle-server.exe
